<aside>
  <div *ngIf="get.pages.articles">
    <h1>{{ get.pages['menus'].titre }}</h1>
    <h3>{{ get.pages['menus'].accroche }}</h3>
    <button (click)="creeLien()">Créer un nouveau lien de menu</button>
    <p>Sinon...</p>
    <p>{{ get.pages['menus'].contenu }}</p>
  </div>
  <div class="h"><i class="pi pi-search"></i>
    <input type="search" [(ngModel)]="filtreLiens" name="filtre" placeholder="Filtrer les liens">
  </div>
  <ul>
    <li *ngFor="let m of get.liensMenus | liens:filtreLiens; let i = index" (click)="upLien(i)">
      {{ m.titre }} <span *ngIf="m.menus">({{ m.menus.toString() }})</span></li>
  </ul>
</aside>
<section id="page">
  <h2 *ngIf="index == -1">Vous créez un nouveau lien : <strong><em>{{ lienMenu.titre }}</em></strong></h2>
  <h2 *ngIf="index > -1">Vous éditez le lien <strong><em>{{ lienMenu.titre }}</em></strong></h2>
  <form #f="ngForm">
    <article>
      <div>
        <h3>1 - Informations à renseigner</h3>
        <label for="titre">Titre *</label>
        <input [(ngModel)]="lienMenu.titre" name="titre" placeholder="Titre" required>

        <label for="alias">Alias *</label>
        <input [(ngModel)]="lienMenu.alias" name="alias" pattern="[a-z0-9\-\_]+"
          placeholder="Ni espaces ou caractères spéciaux" required>

          <label for="alias">Adresse (URL) *</label>
        <input [(ngModel)]="lienMenu.url" name="url" pattern="[A-Za-z0-9\/\-\_]+"
          placeholder="Commencer par /" required>

        <label for="description">Description du lien</label>
        <textarea [(ngModel)]="lienMenu.description" name="description"></textarea>

        <label for="ordre">Ordre d'affichage dans le menu</label>
        <input [(ngModel)]="lienMenu.ordre" name="ordre" placeholder="0" type="number">

        <label for="cible">Cible du lien (le même onglet ou un autre onglet)</label>
        <p>
          <input type="radio" id="blank" value="_blank" name="cible" [(ngModel)]="lienMenu.cible">
          <label for="blank">Lien vers un autre site Internet</label>
          <input type="radio" id="self" value="_self" name="cible" [(ngModel)]="lienMenu.cible" checked>
          <label for="self">Lien à l'intérieur du site</label>
        </p>
      </div>
      <div>
        <h3>2 - Compotements à choisir</h3>
        <p>Choisissez l'UNE des options ci-dessous pour déterminer le contenu contenu dans la page vers laquelle le lien renverra.</p>

        <label for="categories">Catégorie(s)</label>
        <p>Afficher les articles d'une ou plusieurs catégories (choisissez en une ou plusieurs dans
            la liste (CTRL+Click))</p>
        <select [(ngModel)]="lienMenu.categories" name="categories" multiple>
          <option value="">Aucune en particuier</option>
          <option *ngFor="let c of get.categories; let i = index" [value]="c.alias">{{ c.titre }}</option>
        </select>

        <label for="articles">Article(s)</label>
        <p>Choisissez un ou plusieurs articles (CTRL+Click)</p>
        <select [(ngModel)]="lienMenu.articles" name="articles" multiple>
          <option value="">Aucun en particuier</option>
          <option *ngFor="let c of get.articles; let i = index" [value]="c.alias">{{ c.titre }}</option>
        </select>

        <label for="formulaire">Formulaire</label>
        <p>Renvoyer vers un formulaire (choisissez en un dans la liste)</p>
        <select [(ngModel)]="lienMenu.formulaire" name="formulaire">
          <option value="">Aucun en particuier</option>
          <option *ngFor="let f of get.formulaires; let i = index" [value]="f.alias">{{f.titre}}</option>
        </select>
      </div>
      <div>
        <h3>3 - Options structurelles (obligatoires ou non)</h3>
        <p>Connectez votre lien au système : gabarits, styles, menus.</p>

        <label for="menus">Menus(s)*</label>
        <p>A quel(s) menu(s) le lien appartient-il ?</p>
        <select [(ngModel)]="lienMenu.menus" name="menus" multiple required>
          <option *ngFor="let m of get.menus; let i = index" [value]="m.alias">{{ m.titre }}</option>
        </select>

        <label for="parent">Parent</label>
        <p>Choisir un lien pour placer celui-ci en dessous dans la hiérarchie (choisissez un lien du même menu...)</p>
        <select [(ngModel)]="lienMenu.parent" name="parent">
          <option value="">Aucun en particuier</option>
          <option *ngFor="let p of get.liensMenus; let i = index" [value]="p.alias">{{ p.titre }} ({{ p.menus.toString() }})</option>
        </select>

        <label for="template">Template</label>
        <p>Structure de la page de destination.</p>
        <select [(ngModel)]="lienMenu.template" name="template">
          <option *ngFor="let t of utils.templates" [value]="t.alias">{{ t.titre }}</option>
        </select>

        <label for="style">Style</label>
        <p>Style graphique de la page de destination.</p>
        <select [(ngModel)]="lienMenu.style" name="style">
          <option *ngFor="let s of utils.styles" [value]="s.alias">{{ s.titre }}</option>
        </select>
      </div>
    </article>
    <article class="boutons">
      <button *ngIf="index != -1" (click)="supprLien()" [disabled]="!f.valid" class="suppr">Supprimer</button>
      <button (click)="init()" class="annule">Annuler</button>
      <button (click)="creeFireLien()" *ngIf="index == -1" class="valide" [disabled]="f.invalid">Enregistrer le nouveau lien</button>
      <button (click)="upFireLien()" *ngIf="index != -1" class="valide" [disabled]="f.invalid">Mettre à jour le lien</button>
    </article>
  </form>
</section>
