<aside>
  <div *ngIf="get.pages.articles">
    <h1>{{ get.pages['menus'].titre }}</h1>
    <h3>{{ get.pages['menus'].accroche }}</h3>
    <button (click)="creeLien()">Créer un nouveau lien de menu</button>
    <p>Sinon...</p>
    <p>{{ get.pages['menus'].contenu }}</p>
  </div>
  <ul>
    <li *ngFor="let m of get.liensMenus; let i = index" (click)="setLien(i)">
      {{ m.titre }} <span
        *ngIf="m.menus">({{ m.menus.toString() }})</span></li>
  </ul>
</aside>
<section id="page">
  <h2 *ngIf="lienBool">Vous éditez le lien <strong><em>{{ lienMenu.titre }}</em></strong></h2>
  <form #f="ngForm" *ngIf="lienBool">
    <article>
      <div>
        <h3>1 - Informations à renseigner</h3>
        <label for="titre">Titre *</label>
        <input [(ngModel)]="lienMenu.titre" name="titre" placeholder="Titre" required>

        <label for="alias">Alias *</label>
        <input [(ngModel)]="lienMenu.alias" name="alias" pattern="[a-z0-9\-\_]+"
          placeholder="Ni espaces ou caractères spéciaux" required>

          <label for="alias">Adresse (URL) *</label>
        <input [(ngModel)]="lienMenu.url" name="url" pattern="[A-Za-z0-9\/\-\_]+"
          placeholder="Commencer par /" required>

        <label for="description">Description du lien</label>
        <textarea [(ngModel)]="lienMenu.description" name="description"></textarea>

        <label for="ordre">Ordre d'affichage dans le menu</label>
        <input [(ngModel)]="lienMenu.ordre" name="ordre" placeholder="0" type="number">

        <label for="cible">Cible du lien (le même onglet ou un autre onglet)</label>
        <p>
          <input type="radio" id="blank" value="_blank" name="cible" [(ngModel)]="lienMenu.cible">
          <label for="blank">Lien vers un autre site Internet</label>
          <input type="radio" id="self" value="_self" name="cible" [(ngModel)]="lienMenu.cible" checked>
          <label for="self">Lien à l'intérieur du site</label>
        </p>
      </div>

      <div>
        <h3>2 - Compotements à choisir</h3>
        <p>Choisissez l'une des options ci-dessous pour déterminer le fonctionnement du lien</p>

        <label for="articles">Afficher les articles d'une ou plusieurs catégories (choisissez en une ou plusieurs dans
          la liste (CTRL+Click))</label>
        <select [(ngModel)]="lienMenu.categories" name="categories" multiple>
          <option *ngFor="let c of get.categories; let i = index" [value]="c.alias">{{ c.titre }}</option>
        </select>

        <label for="formulaire">Renvoyer vers un formulaire (choisissez en un dans la liste)</label>
        <select [(ngModel)]="lienMenu.formulaire" name="formulaire">
          <option *ngFor="let f of get.formulaires; let i = index" [value]="f.alias">{{f.titre}}</option>
        </select>
      </div>
      <div>
        <h3>3 - Options (obligatoires ou non)</h3>
        <p>Connectez votre lien au système : gabarits, styles, menus.</p>

        <label for="menus">A quel(s) menu(s) le lien appartient-il ? *</label>
        <select [(ngModel)]="lienMenu.menus" name="menus" multiple required>
          <option *ngFor="let m of get.menus; let i = index" [value]="m.alias">{{ m.titre }}</option>
        </select>

        <label for="template">Structure de la page de destination</label>
        <select [(ngModel)]="lienMenu.template" name="template">
          <option value="blog">Blog</option>
        </select>

        <label for="style">Style graphique de la page de destination</label>
        <select [(ngModel)]="lienMenu.style" name="style">
          <option value="blog">Blog</option>
          <option value="equipe">Equipe</option>
        </select>
      </div>
    </article>
    <article class="boutons">
      <button *ngIf="index != -1" (click)="supprLien()" [disabled]="!f.valid" class="suppr">Supprimer</button>
      <button (click)="init()" class="annule">Annuler</button>
      <button (click)="fireLien()" *ngIf="index == -1" class="valide" [disabled]="f.invalid">Enregistrer le nouvel
        article</button>
      <button (click)="fireLien()" *ngIf="index != -1" class="valide" [disabled]="f.invalid">Enregistrer les mises
        à jours</button>
    </article>
  </form>
</section>
