<aside>
  <div *ngIf="get.pages.articles">
    <h1>{{ get.pages['categories'].titre }}</h1>
    <h3>{{ get.pages['categories'].accroche }}</h3>
    <button (click)="initCat()">Créer une catégorie d'articles</button>
    <p>Sinon...</p>
    <p>{{ get.pages['categories'].contenu }}</p>
  </div>
  <ul>
    <li *ngFor="let m of get.categories let i = index" (click)="getCat(i)">{{ m.titre }}</li>
  </ul>
</aside>
<section id="page">
  <form>
    <h2 *ngIf="index > -1">Catégorie éditée : <strong><em>{{ categorie.titre }}</em></strong></h2>
    <article>
      <div>
        <label for="titre">Titre *</label>
        <input [(ngModel)]="categorie.titre" name="titre" placeholder="Titre" required>

        <label for="alias">Alias *</label>
        <input [(ngModel)]="categorie.alias" name="alias"
          placeholder="Un mot sans espace ni majuscule ni caractères spéciaux" required>

        <label for="media">Média</label>
        <div class="vignettes">
          <img [src]="categorie.media!.url" [alt]="categorie.media!.caption" class="vignette"
            *ngIf="categorie.media!.url">
          <button (click)="deleteImage('media')" class="annule"><i class="pi pi-trash"></i></button>
          <button (click)="editImage('media')" class="valid"><i class="pi pi-images"></i></button>
        </div>

        <label for="description">Description</label>
        <p-editor name="description" [(ngModel)]="categorie.description" [style]="{'height':'250px'}">
        </p-editor>

        <label for="ordre">Ordre</label>
        <input [(ngModel)]="categorie.ordre" name="ordre" placeholder="0" type="number">
      </div>
    </article>
    <article>
      <button *ngIf="index > -1" (click)="supprCat()" class="suppr">Suprimer</button>
      <button (click)="initCat()" class="annule">Annuler</button>
      <button (click)="setCat()" class="valide">Enregistrer</button>
    </article>
  </form>
</section>
<!-- AFFICHER LA LISTE DES MEDIAS -->
<section [class.arrive]="media" id="medias">
  <h2>Liste des médias disponibles</h2>
  <a class="close" (click)="media = undefined"></a>
  <app-liste-medias [target]="media" (choix)="imageChoisie($event)"></app-liste-medias>
</section>
