section {
  margin: 0 auto;
  flex-flow: column nowrap;
}
:host{
  width:100%;
  display:flex;
  flex-flow: column nowrap;
}
section > article{
  width:100%;
  display:flex;
  flex-flow: row nowrap;
}
section > article > div {
  width:50%;
  display:flex;
  flex-flow: column nowrap;
  padding:20px;
}
p{
  display:flex;
  flex-flow: row nowrap;
}
