
<main>
<aside>
  <a href="/" alt="Logo du fonds de dotation"><img src="assets/images/Logo_fondsGP_lettres.png"></a>
  <nav>
    <a routerLink="/intranet" title="Retourner à l'accueil"><i class="pi pi-home"></i><span>Accueil</span></a>
    <a routerLink="/intranet/menus" title="Editer les menus"><i class="pi pi-list"></i><span>Menus</span></a>
    <a routerLink="/intranet/categories" title="Editer les catégories"><i class="pi pi-tag"></i><span>Catégories</span></a>
    <a routerLink="/intranet/articles" title="Editer les articles"><i class="pi pi-align-justify"></i><span>Articles</span></a>
    <a routerLink="/intranet/collections" title="Editer les collections"><i class="pi pi-book"></i><span>Collections</span></a>
    <a routerLink="/intranet/formulaires" title="Editer les formulaires"><i class="pi pi-check-square"></i><span>Formulaires</span></a>
    <a routerLink="/intranet/medias" title="Administrer les médias"><i class="pi pi-images"></i><span>Médias</span></a>
    <!-- <footer>
      <nav>
        <a href="" title="Aller sur le site du Fonds" target="_blank">FGP</a>
        <a href="" title="Aller sur le site des collections" target="_blank">FGP</a>
        <a href="https://exlineo.com" title="Eco-conception par exlineo" target="_blank"></a>
      </nav>
    </footer> -->
  </nav>
</aside>
<section>
  <router-outlet></router-outlet>
</section>
</main>
