<section id="page">
  <h1>{{ get.pages['accueil'].titre }}</h1>
  <h3>{{ get.pages['accueil'].accroche }}</h3>
  <article [innerHTML]="get.pages.accueil.contenu">
    <h3>Bienvenue dans la partie administration du site Internet du Fonds de Dotation Gérard Perrier.</h3>
    <p>Au-travers des menus ci-contre, vous pourrez :</p>
    <ul>
      <li>Accueil : revenir à l'accueil du site Internet (ici même...)</li>
      <li>Menus : vous pourrez créer des liens pour les menus existants ou éditer les existants. Les liens sont dans le menus du site pour accéder aux différentes pages.</li>
      <li>Catégories : un système permettant d'organiser des articles et de les relier aux liens de menus. Par exemple, un lien peut afficher les articles présents dans une catégorie donnée.</li>
      <li>Articles : ce sont les morceaux de contenus du site. Ils comprennent un titre, des images, des textes.</li>
      <li>Formulaires : formulaires de contact ou de demandes d'aide. Ils peuvent être édités ici.</li>
      <li>Médias : les images et documents diffusés dans le site Internet (attention, il ne s'agit pas des médias des collections).</li>
    </ul>
  </article>
</section>
