@import url('./assets/quill/quill.core.css');
@import url('./assets/quill/quill.snow.css');

:root{
  --grisclair:#E9E9E9;
  --jaune:#F7C45F;
  --orange:#b8820f;
  --vert:#33A537;
  --vertsombre:#007c04;
  --bleu:#28364A;
  --sombre:#202A3A;
  --rose : #F14668;
  --jaunea:rgba(247,196,95,0.3);
  --sombrea:rgba(40,54,74,0.8);
}

html, body, main{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}
* {
  box-sizing: border-box;
}
body, main, section{
  display:flex;
  font-weight: 300;
}
/* :host{
  display:flex;
  width:100%;
  height:100%;
  padding:20px;
} */
h1{
  font-size: 2rem;
  margin-bottom: 10px;
}
h2{
  font-size:1.6rem;
}
h3{
  margin:5px 0;
}
h1, h2{
  font-weight: 100;
}
main{
  width:100vw;
  height:100vh;
  flex-flow: row nowrap;
}
article{
  display: flex;
}
a{
  text-decoration: none;
  font-weight: 600;
}
form, form > div, form > article > div{
  display:flex;
  flex-flow: column nowrap;
  margin:auto;
}
form > article > div > div{
  flex-direction: row;
}
form p{
  font-size: 12px;
}
form > article{
  display:flex;
  flex-flow: row nowrap;
}
form > article > div{
  margin:30px;
  width:50%;
}
form > article > div > div{
  display:flex;
  flex-flow: column nowrap;
}
label{
  margin-top:15px;
  padding-top:15px;
  border-top: 1px solid var(--rose);
  font-weight:600;
}
input, textarea, select, option{
  font-family: 'Raleway', sans-serif;
  /* font-weight: 600; */
  transition:all .3s ease;
  border:1px solid var(--jaunea);
  margin:5px;
  padding:10px;
}
input.ng-valid, textarea.ng-valid{
  border-bottom: 1px solid var(--vert);
}
select{
  width:max-content;
}
input[type=submit]{
  width:max-content;
  background-color: var(--vertsombre);
  color:var(--grisclair);
}
input[type=submit]:hover{
  background-color: var(--vert);
}
input[type=reset]{
  width:max-content;
  background-color: var(--rose);
  color:var(--grisclair);
}
input[type=reset]:hover{
  background-color: var(--jaune);
}
input[type=file]{
  background-color: var(--sombre);
  color:var(--grisclair);
  border:none;
  padding: 8px 16px;
}
button{
  padding:10px;
  background-color: var(--bleu);
  color:var(--grisclair);
  border:0;
  width:max-content;
  transition: all .3s ease;
  margin:5px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}
button.suppr{
  background-color: var(--rose);
}
button.annule{
  background-color: var(--orange);
}
button.valide{
  background-color: var(--vertsombre);
}
button.neutre{
  border-color:#28364A;
  background-color: var(--grisclair);
  color:var(--sombre);
}
button:hover{
  background-color: var(--jaune);
}
input[disabled], input[disabled]:hover, button[disabled], button[disabled]:hover{
  cursor: auto;
  opacity: .6;
  background-color: grey;
}
main > aside{
  background-color: var(--sombre);
  color: var(--grisclair);
  width:100px;
}
section aside{
  background-color: var(--jaune);
}
aside li{
  cursor: pointer;
}
main > section {
  width:calc(100vw - 100px);
}
aside > nav {
  display:flex;
  flex-flow: column nowrap;
  margin-top:50px;
}
aside > nav > a {
  display:flex;
  flex-flow: column nowrap;
  margin:10px 0;
  color: var(--grisclair);
  font-weight: 100;
  width:100%;
  text-align: center;
}
aside > nav > a > .pi{
  font-size: 32px;
}
i{
  margin:5px;
  cursor: pointer;
}
i.search{
  margin-top: -30px;
  padding-left: 5px;
  padding-bottom: 5px;
}
hr{
  border:0;
  border-bottom: 1px solid var(--jaunea);
}
li{
  margin:10px 0;
}
/* --------- PAGE ----------- */
#page {
  width:100%;
  margin: 0 auto;
  flex-flow: column nowrap;
  padding:20px;
}
router-outlet + * {
  width:100%;
  display:flex;
  flex-flow: column nowrap;
}
#page h1, #page h2{
  width:100%;
}
#page > article{
  width:100%;
  display:flex;
  flex-flow: row wrap;
}
#page > article > div, #page > article > div > div {
  display:flex;
  flex-flow: column nowrap;
  padding:20px;
}
#page > article > div {
  width:50%;
}
#page p{
  display:flex;
  flex-flow: row nowrap;
}
/* COMPOSANTS SPECIFIQUES */
.ql-editor{
  font-family: 'Raleway', sans-serif;
}
app-connexion{
  background-color : var(--sombre);
}
app-connexion section {
  margin:auto;
  padding:30px 60px;
  background-color: var(--grisclair);
  border:1px solid var(--jaune);
  width:auto;
}
app-connexion div, app-connexion a {
  text-align: center;
}
app-liste-medias, app-formulaire{
  padding: 0 20px;
  display:flex;
  flex-flow: column nowrap;
}
app-liste-medias > section, app-formulaire > section{
  width: 100%;
  height:85%;
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  overflow: hidden;
  overflow-y: auto;
}
app-liste-medias > aside{
  width: 100%;
  height:15%;
  padding:0 20px;
}
app-liste-medias article{
  display:flex;
  flex-flow: column nowrap;
  margin:10px;
  max-width:200px;
  width:33%;
}
app-liste-medias article:hover figure{
  border-bottom:1px solid var(--jaunea);
  padding-bottom:15px;
  transform: scale(1.05);
}
app-liste-medias figure{
  width:100%;
  display:flex;
  flex-flow: column nowrap;
  margin:0;
  transition: all .3s ease;
}
app-liste-medias figcaption{
  font-size: 90%;
}
app-liste-medias figure > img{
  width:100%;
}
app-liste-medias aside {
  display:flex;
  flex-flow: row nowrap;
  margin: 0 10px;
  align-items: center;
}

/* STYLE PARTICULIERS */
.liste{
  border-bottom: 1px solid var(--jaune);
  margin:0;
  padding:10px 0;
  font-size:12px;
}
.liste li{
  list-style: disc;
  margin:3px 0;
}
.arrive {
  display: block !important;
  left: 350px !important;
  width: calc(100vw - 350px);
}
.h{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.v{
  flex-flow: column nowrap;
}
.boutons{
  justify-content: center;
}
.vignettes{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  margin-top: 15px;
}
.vignettes > * {
  margin-right: 10px;
}
.vignettes img{
  max-width: 200px;
}
.edition{
  width:100%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
/* Croix pour fermer une fenêtre */
.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index:1002;
  transition:all .3s ease;
}
.close:hover {
  opacity: 1;
  transform: rotate(90deg);
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: var(--sombre);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.lightbox{
  position: absolute;
  width:100vw;
  height:100vh;
  background-color: var(--sombrea);
  top:0;
  left:0;
  z-index:99;
}
.lightbox article{
  background-color: var(--grisclair);
  padding:20px 40px;
  margin:auto;
  min-width:350px;
}
.lightbox form{
  flex-flow: column nowrap;
}
/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: var(--jaune);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--vertsombre);
}
